@charset "utf-8";
*{padding:0; margin: 0; box-sizing: border-box;}
:root{
    --n1:#231942; --n2:#5e548e; --n3:#9f86c0;--n4:#be95c4;
    --n5:#e0b1cb;}
::-webkit-scrollbar{width:0.1vh}

footer{height:15vh; background: var(--n2); display: flex; 
    font-family: "Jua", sans-serif; max-width: 1024px; margin: auto;}
footer div {flex:1}
footer div:first-child{ margin-left: 1.5vw; display: block;}
footer div strong{font-weight: bolder; font-size: 1.3rem; line-height: 200%;}
footer div a {display: block; text-decoration: none; color: var(--n1); font-size: 1.1rem;
        font-weight: bold; margin-top: 0.5vh;}

footer div:nth-child(2){line-height: 150%; margin-top: 1vh; text-align:left}